In [6]:
import pandas as pd
import numpy as np
import itertools

In [7]:
#import csv file
try:
    df_train = pd.read_csv('../data/train.csv')
    df_test = pd.read_csv('../data/test.csv')
except FileNotFoundError:
    print("Error: files not found")
    exit()

df_train.info()
df_train.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Id                    8000 non-null   int64
 1   Therapy Hours         8000 non-null   int64
 2   Initial Health Score  8000 non-null   int64
 3   Lifestyle Activities  8000 non-null   object
 4   Average Sleep Hours   8000 non-null   int64
 5   Follow-Up Sessions    8000 non-null   int64
 6   Recovery Index        8000 non-null   int64
dtypes: int64(6), object(1)
memory usage: 437.6+ KB

,Id,Therapy Hours,Initial Health Score,Lifestyle Activities,Average Sleep Hours,Follow-Up Sessions,Recovery Index
0,9255,5,49,No,7,5,36
1,1562,2,48,Yes,7,6,25
2,1671,2,81,No,7,2,59
3,6088,2,46,No,6,1,22
4,6670,8,47,No,9,0,40

In [8]:
test_ids = df_test['Id']

df_train_id_dropped = df_train.drop('Id', axis=1)
df_test_id_dropped = df_test.drop('Id', axis=1)

for df in [df_train_id_dropped, df_test_id_dropped]:
    df['Lifestyle Activities'] = df['Lifestyle Activities'].apply(lambda x: 1 if x == 'Yes' else 0)

df_train_id_dropped.info()
df_train_id_dropped.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Therapy Hours         8000 non-null   int64
 1   Initial Health Score  8000 non-null   int64
 2   Lifestyle Activities  8000 non-null   int64
 3   Average Sleep Hours   8000 non-null   int64
 4   Follow-Up Sessions    8000 non-null   int64
 5   Recovery Index        8000 non-null   int64
dtypes: int64(6)
memory usage: 375.1 KB

,Therapy Hours,Initial Health Score,Lifestyle Activities,Average Sleep Hours,Follow-Up Sessions,Recovery Index
0,5,49,0,7,5,36
1,2,48,1,7,6,25
2,2,81,0,7,2,59
3,2,46,0,6,1,22
4,8,47,0,9,0,40

In [ ]:
# --- Feature Engineering: Add 5C2 Interaction Features ---

print("Original data shape:", df_train_id_dropped.shape)

# Your original list of 5 features
features = ['Therapy Hours', 'Initial Health Score', 'Lifestyle Activities', 'Average Sleep Hours', 'Follow-Up Sessions']

# Get all 2-feature combinations (10 pairs)
all_combinations = list(itertools.combinations(features, 2))
print(f"Generating {len(all_combinations)} new interaction features...")

# Loop over both the training and test DataFrames
for df in [df_train_id_dropped, df_test_id_dropped]:
    # Loop over every pair, e.g., ('Therapy Hours', 'Initial Health Score')
    for col1, col2 in all_combinations:
        
        # Create a new, clean column name, e.g., "Therapy_Hours_x_Initial_Health_Score"
        new_col_name = f"{col1}_x_{col2}".replace(' ', '_')
        
        # Create the new feature by multiplying the two columns
        df[new_col_name] = df[col1] * df[col2]

print("New data shape:", df_train_id_dropped.shape)

# Show the first few rows to confirm the new columns
print("\n--- Training Data with New Interaction Features ---")
display(df_train_id_dropped.head())

Creating v8 'elite' feature set...
Added 1 polynomial feature.
Added 3 'elite' interaction features.

--- All 9 Features Ready ---
New data shape: (8000, 10)

Saving v4 data...
v4 files saved successfully.

In [ ]:
train_output_path = '../data/train_processed_v4.csv'
df_train_id_dropped.to_csv(train_output_path, index=False)
print(f"Processed training data saved to: {train_output_path}")

test_output_path = '../data/test_processed_v4.csv'
df_test_id_dropped.to_csv(test_output_path, index=False)
print(f"Processed test data saved to: {test_output_path}")

ids_output_path = '../data/test_ids.csv'
test_ids.to_csv(ids_output_path, index=False)
print(f"Test IDs saved to: {ids_output_path}")

Processed training data saved to: ../data/train_processed_v4.csv
Processed test data saved to: ../data/test_processed_v4.csv
Test IDs saved to: ../data/test_ids.csv